@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body { font-family: 'Pretendard-Regular'; background-color: rgb(245, 185, 196);}

.intro-wrapper { display:flex; flex-direction: column; justify-content: center; color: white; padding: 50px 0; text-align: center; }
.intro-title { font-size: 1.3rem; margin-bottom: 25px; font-weight: bold; }
.intro-text { font-size: 1.0rem; font-weight: 100; line-height: 30px; }

.menu { max-width: 85%; margin: auto; margin-bottom: 40px; }
.menu-title {text-align: center; font-size: 1.4rem; font-weight: bold; color: white; margin-bottom: 20px; }
.menu-text {text-align: center; font-size: 1.0rem; font-weight: 100; line-height: 30px; color: white; margin-bottom: 20px; }

.gallery-grid { display: grid; grid-auto-flow: dense; grid-template-columns: repeat(2, 1fr); grid-template-rows: repeat(11, auto); max-width: 100%;}
.gallery-grid img { max-width: 100%; border-radius: 10px; margin: auto; border: 4px solid rgba(0, 0, 0, 0); opacity: 0; cursor: pointer; }
.grid-vertical { aspect-ratio: 12 / 18; grid-area: span 2; }
.grid-horizontal { aspect-ratio: 12 / 9; grid-area: span 1; }

.map-list { background-color: #f2eeee; width: 100%; display: grid; grid-template-columns: 1fr 1fr 0.7fr; padding: 15px 5px; }
.map-list a { text-align: center; text-decoration: none; color: black; border-right: 1px solid rgba(97,80,67,.15); font-size: 0.9rem;}
.map-list a:last-child { border-right: 0; }

.accordion-button { background-color: #F2EEEE !important; }
.accordion-button:not(.collapsed) { background-color: unset; }
.accordion-body { font-size: 1.0rem; font-weight: 100; }
.account { display: flex; justify-content: space-between; }
.copy-account { border: 1px solid #e9ecef; border-radius: 5px; color: #999999;}

.share { cursor: pointer; }

footer { padding: 50px; }
.copyright { color: rgba(100, 100, 100, 0.5); font-size: 0.8rem; }

.carousel-modal-open { overflow: hidden ;}
.carousel-modal { display: none; position: fixed; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); }
.carousel-modal-close { position: absolute; top: 10px; right: 10px; z-index: 2; }
.carousel-modal.show { display: block; }
.carousel-modal-wrapper { display: flex; align-items: center; margin: auto; height: 100%; }
.carousel-modal-content { position: relative; width: 100%; display: flex; flex-direction: column; }
.carousel-img { width: 100vw; height: 100vh; object-fit: contain; object-position: center center; }

.fadeIn { animation: fadeIn 2s both; }
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.slideIn { left: -50px; opacity: 0; position: relative; }
.slideIn.slide { animation: slideIn 2s both; }
@keyframes slideIn {
  from { left: -50px; opacity: 0; }
  to { left: 0; opacity: 1; }
}

@media (min-width: 1024px) {
 .map-list { grid-template-columns: repeat(3, 1fr); }
}